@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* PALETAS DE CORES 
    #B8FCF7
    #055959
*/

body, html {
    background-color: #055959;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section.login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: #B8FCF7;
    width: 251px;
    height: 515px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px solid black;

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section.login > div.imagem {
    display: block;
    background: url(../imagens/dev.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section.login > div.formulario {
    padding: 8px;
}

div.formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: #055959;
    border: 2px solid #055959;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
}

div.campo > label {
    display: none;
}

div.compo > i {
    color: white;
    font-size: 2em;
    padding: 5px;
    width: 40px;
}

div.campo > input {
    background-color: #B8FCF7;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    background-color: #055959;
    font-size: 1em;
    color: white;
    width: 98%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

button {
    display: block;
    background-color: #055959;
    font-size: 1em;
    color: white;
    width: 98%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #2d6462;
}